In [7]:
'''SHOW MASTER STATUS'''

import MySQLdb

db = MySQLdb.connect(unix_socket="/var/run/mysqld/mysqld.sock",read_default_file="~/.my.cnf")
                     
cur = db.cursor()

cur.execute("""SHOW MASTER STATUS""")
res = cur.fetchall()

cur.close()
db.close()

for i in res:
    print("Master Log file:", i[0], "\nPosition:\t", i[1])
print()

log_file = ''
position = ''

for i in res:
    log_file, position = "'"+i[0]+"'", str(i[1])+";"

sql = """CHANGE MASTER TO MASTER_HOST='10.10.0.1', MASTER_USER='slave_user', MASTER_PASSWORD='password',
MASTER_LOG_FILE = """ + log_file + """ MASTER_LOG_POS = """ + position

print(sql)

Master Log file: master.000002
Position:	 474

CHANGE MASTER TO MASTER_HOST='10.10.0.1', MASTER_USER='slave_user', MASTER_PASSWORD='password',
MASTER_LOG_FILE = 'master.000002' MASTER_LOG_POS = 474;

In [ ]:
"""Insert data into DB"""

import MySQLdb

db = MySQLdb.connect(unix_socket="/var/run/mysqld/mysqld.sock",db="sisdb",read_default_file="~/.my.cnf")
# make commit after each query
db.autocommit(True)
# crete cursor object
cur = db.cursor()

# data is dict or tuple. example with dict:
data_to_insert = {'id':6, 'name':'New', 'age':2017}
# insert data into query. if use tuple - use (%s, %s, %s)
sql_query = "INSERT INTO `students` VALUES (%(id)s, %(name)s, %(age)s)"
# execute accept and run tuple
cur.execute(sql_query, data_to_insert)

# res = cur.fetchall()
# close cursor and connection
cur.close()
db.close()

In [ ]:
"""Insert data into DB, variant 2"""

import MySQLdb

db = MySQLdb.connect(unix_socket="/var/run/mysqld/mysqld.sock",db="sisdb",read_default_file="~/.my.cnf")
# make commit after each query
db.autocommit(True)
# crete cursor object
cur = db.cursor()

# data is dict or tuple. example with tuple:
sql_query = "INSERT INTO `students` VALUES (7, 'Morning', 2020)"

# execute accept and run tuple
cur.execute(sql_query)

# res = cur.fetchall()
# close cursor and connection
cur.close()
db.close()

In [11]:
"""SELECT FROM DB"""

import _mysql

db = _mysql.connect(unix_socket="/var/run/mysqld/mysqld.sock",db="sisdb",read_default_file="~/.my.cnf")

db.query("""SELECT * FROM students ORDER BY id ASC""")

res = db.use_result()
final_res = res.fetch_row(maxrows=25)

db.close()

for i in final_res:
    print(i[0], str(i[1], 'utf-8'), i[2])

1 Aaaa 25
2 Bbbb 20
3 Cccc 14
4 Dddd 50
5 Year 2016
6 New 2017
7 Morning 2020
8 ttt 11
9 ggg 222
10 uuuu 333
11 Ya 99
12 Name 29